APP_NAME="Система обліку замовлень"
APP_ENV=development
DEBUG=true
SECRET_KEY=
DEFAULT_ADMIN_EMAIL=
DEFAULT_ADMIN_PASSWORD=
DATABASE_URL=
POSTGRES_USER=order_app
POSTGRES_PASSWORD=
POSTGRES_DB=order_tracking
POSTGRES_PORT=5433
SESSION_COOKIE_NAME=order_session
APP_TIMEZONE=Europe/Kyiv
CURRENCY=EUR
MANAGER_ORDER_VISIBILITY=all
